@model Rasp.Controllers.ScheduleViewModel
@using System.Globalization

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
</head>
<body>

    <h1 class="page-title">Расписание занятий</h1>
    <button class="auth-btn" id="authBtn">Авторизация</button>
    <div id="authModal" class="modal">
        <div class="modal-content">
            <span class="close">×</span>

            <h2>Вход в систему</h2>

            <form class="auth-form">
                <input type="text" name="login" placeholder="Логин" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit" id="loginBtn">Войти</button>
            </form>
            <div class="error-message" id="errorMessage"></div>
        </div>
    </div>


    @await Html.PartialAsync("_ScheduleFilters", Model)


    @{
        ViewBag.ShowRemoveButton = false;
    }
    @await Html.PartialAsync("_SchedulePartial", Model)


    <script src="~/js/auth.js" asp-append-version="true"></script>

</body>
</html>