@{
    ViewData["Title"] = "Авторизация";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Меню авторизации</title>
    <style>

    </style>
</head>
<body>
    <div class="login-container">
        <h2>Вход</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Имя пользователя" required />
            <input type="password" name="password" placeholder="Пароль" required />
            <button type="submit">Войти</button>
        </form>

        <form>
            <a href="raspis" style="flex: 1; display: inline-block; text-align: center; padding: 10px 0; background: #d00; color: white; border-radius: 4px; text-decoration: none; font-size: 16px; cursor: pointer;">
                Расписание
            </a>
        </form>

        <form>
            <a href="raspisadmin" style="flex: 1; display: inline-block; text-align: center; padding: 10px 0; background: #d00; color: white; border-radius: 4px; text-decoration: none; font-size: 16px; cursor: pointer;">
                Админ
            </a>
        </form>
        <a class="register-link" id="openRegister">Регистрация</a>
    </div>


    <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Регистрация</h2>
            <form action="schedule.html" method="post">
                <input type="text" name="new_username" placeholder="Имя пользователя" required />
                <input type="password" name="new_password" placeholder="Пароль" required />
                <input type="password" name="confirm_password" placeholder="Повторите пароль" required />
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>

    <script>

        document.getElementById('openRegister').onclick = function() {
            document.getElementById('registerModal').style.display = 'block';
        };

        document.getElementById('closeModal').onclick = function() {
            document.getElementById('registerModal').style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target == document.getElementById('registerModal')) {
                document.getElementById('registerModal').style.display = 'none';
            }
        };
    </script>
</body>
</html>